* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100ch;
    width: 100vw;
    background-color: black;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 1rem;
    background: linear-gradient(to right, #000000, #434343);
    box-shadow: inset;
    border: 1px solid gray;
    border-radius: 2rem;;
    padding: 1rem;
}

.outer-display {
    background-color: black;
    grid-column: 1/4;
    padding: 10px;
    border: 1px solid gray;
    border-radius: .7rem;
}

.display {
    text-align: right;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .75);
    border: 1px solid gray;
    border-radius: .7rem;
    height: 100%;
    width: 100%;
}

.previous-operand {
    font-size: 1rem;
    color:rgba(255, 255, 255, .65);
    margin-top: -10px;
}

.current-operand {
    font-size: 1.5rem;
    margin-top: 15px;
}

button {
    font-size: xx-large;
    background: linear-gradient(to right, #000000, #0f9b0f);
    outline: none;
    border: 1px solid gray;
    border-radius: 100%;
}

button:hover {
    background: linear-gradient(to right, black, darkturquoise);
    cursor: pointer;
}

.operator {
    background: linear-gradient(to right, black, darkslategray);
}

.equals {
    background: linear-gradient(to right, black, darkslategray);
} 

.decimal {
    background: linear-gradient(to right, black, darkslategray);
}

.clear {
    background: linear-gradient(to right, black, darkslategray);
}